
<h1>{{ titulo1 | uppercase }}</h1>
<h2>{{ titulo }}</h2>
<p>Fecha: {{ fecha | date:'fullDate' }}</p>

<button (click)="toggleLista()">
  {{ mostrarLista ? 'Ocultar' : 'Mostrar' }} Lista
</button>


<div *ngIf="mostrarLista">
  <ul>
    <li *ngFor="let producto of productos; let i = index">
      {{ producto }}
      
    </li>
  </ul>
</div>

<input [(ngModel)]="nuevoProducto" placeholder="Nuevo producto">
<button (click)="agregarProducto()">Agregar</button>


<hr>

<app-producto-card 
  *ngFor="let producto of productos" 
  [nombre]="producto">
</app-producto-card>

